help.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**

### sts ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springbeans
.sts4-cache

### intellij idea ###
.idea
*.iws
*.iml
*.ipr

### netbeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### vs code ###
.vscode/
### java template
# compiled class file
*.class

# log file
*.log

# bluej files
*.ctxt

# mobile tools for java (j2me)
.mtj.tmp/

# package files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
### maven template
pom.xml.tag
pom.xml.releasebackup
pom.xml.versionsbackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildnumber.properties
.mvn/timing.properties

# avoid ignoring maven wrapper jar file (.jar files are usually ignored)
!/.mvn/wrapper/maven-wrapper.jar




/mvnw
/procfile
/mvnw.cmd
/target/
/idziennik-frekwencja.iml
/help.md
/.mvn/
