<!DOCTYPE html>
<html lang="pl-Pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Logowanie - iFrekwencja</title>
</head>
<body>
<h1>Welcome</h1>

<form th:action="@{/ifrekwencja}" th:object="${user}" method="post">
    <p>Nazwa szkoły:<input type="text" th:field="*{schoolName}"></p>
    <p>Użytkownik:<input type="text" th:field="*{name}"></p>
    <p>Hasło:<input type="password" th:field="*{password}"></p>
    <p>Przepisz kod:<input type="text" th:field="*{captcha}"> <img
            th:src="@{'data:image/jpeg;base64,'+${captchaImage}}"/></p>
    <p><input type="submit" value="Zaloguj"></p>
</form>


</body>
</html>